main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search-bar {
    position: absolute;
    top: 10vh;
    width: 30%;
}

#output-section {
    position: absolute;
    top: 20vh;
    overflow-y: scroll;
}

.artist-item {
    list-style: none;
}